body {
    background-color: pink !important;
}

nav {
    text-transform: uppercase;
    font-family: PT Sans Narrow;
}

.nav-link {
    font-weight: bold;
}

.nav-link:hover {
    font-style: italic;
    background-color: green !important;
}

header {
   /*Sizing of the element*/
   height: 800px;
   width: 100%;
   /*Set and adjust background image*/
   background-image: url("poolwater.png");
   background-size: cover;
   /*Center the text*/
  text-align:center;
}

.services {
    text-align:center;
}
.services i{
    font-size: 30px;
    padding:25px 20px;

    color:  #41f444;
    background-color:#42cef4;

    width:80px;
    height:80px;

    border-radius: 50%
}

.services spam{
    width: 200px;
    display: inline-block;
    color: blue;
    background-color:white;
}